page-adddeposits {
    ::placeholder{
        color: #ADADAD;
     }
     .txt-color{
         color:#6D6D6D;
         border-color: #6d6d6d;
         font-size: 15px;
         margin-bottom: 5px;
     }
     .savbtn {
        text-transform: none;
        font-size: 15px;
        border-radius: 5px;
        background-color: #108223 !important;
        // padding: 24px !important;
       
    }
    .mytitle{
        margin-left:22%;
    }
    // .tabbar.show-tabbar {
    //     display: none;
    // }
}
