page-changepassword {
    font-family: 'Montserrat', sans-serif;
    .btnstyling{
        text-transform: none;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 30px;
        background-color: #09a546 !important;
    }
    ion-item {
        padding-left: 0 !important;
    }
    ion-label {
        font-size: 14px !important;
        color: #b8b7b7 !important;
    }
    ::placeholder{
        color:black !important;
        font-weight: 600;
    }
    .scroll-content {
        background: #eaeaea;
    }
    .changepswddiv{
        padding: 15px;
        background: white;
        border-radius: 5px;

    }
}
