page-myprofileinvite {
    font-family: 'Montserrat', sans-serif;
    .btnstyling{
        text-transform: none;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 0;
        background-color: #09a546 !important;
    }
    ion-item {
        padding-left: 0 !important;
    }
    ion-label {
        font-size: 14px !important;
        color: #b8b7b7 !important;
    }
    ::placeholder{
        color:black !important;
        font-weight: 600;
    }
    .scroll-content {
        background: #eaeaea;
    }
    .changepswddiv{
        padding: 15px;
        background: white;
        border-radius: 5px;
        float: left;
        width: 100%;

    }
    .top_invite img{
        padding-right: 10px;
        width: 30px;
    }
    .top_invite{
        font-size: 15px;
        font-weight: 700;
        color: #f30707;
    }
    .imptxt_invite p{
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;

    }
    .radiobtn{
        padding: 10px;
    }
    .radiobtn input{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .radioitem .item-inner{
        border-bottom: none !important;
    }
    .plusicon {
        position: absolute;
        right: 20px;
        top: -70px;
        width: 50px;
        height: 50px;
        padding: 5px;
        text-align: center;
        display: table-cell;
        background: #09a546;
        vertical-align: middle;
        border-radius: 50px;
    }
}
