page-depositetab {
    
}
.tabbar.show-tabbar {
    background: grey;
    color: black;
    margin-top: -10px;
    border-bottom:0 !important;
}
.tabbar .tab-button {
    color: black;
}
.tab-button[aria-selected=true] {
    color: white !important;
    background: green;
}