<ion-header>
    <ion-navbar color="dark">
        <ion-title color="white" class="mytitle">DEPOSITS</ion-title>
    </ion-navbar>
    <div class="slidr" >
        <ion-slides loop="true">
            <ion-slide *ngFor="let item of adds_list;" >
                <img src="{{item.image_url}}"style="width:100%">                
            </ion-slide>
        </ion-slides>
    </div>
    <div class="segment_tab">
    <ion-segment [(ngModel)]="deposittab">
        <ion-segment-button value="deposits">
            MY DEPOSITS
        </ion-segment-button>
        <ion-segment-button value="howtodeposits">
            HOW TO PAY DEPOSIT
        </ion-segment-button>
    </ion-segment>
    </div>
</ion-header>
<ion-content style="background:#eaeaea;">
    <div [ngSwitch]="deposittab">
        <ion-list *ngSwitchCase="'deposits'">
            <ion-row *ngFor="let dep of deposits_list;" >
                <ion-col>
                    <div class="descinfo">
                        <p class="info"  (click)="depositedetail(dep.id)">
                            {{dep.description}}
                        </p>
                        <p style="width: 30%;float: left;text-align: right;margin: 0px;margin-top: 5px; "> <span style="float: right;font-size: 14px;color: #09a546;font-weight: bolder;margin-top: 0px;">{{currency}} {{dep.deposit_amount}}</span></p>
                    </div>
                    <p style="float: left;width: 100%;margin: 0;margin-left: 5px;"><span>{{dep.date}} </span></p>
                    <!-- | {{dep.paid_by}} -->
                    <p class="para2" style="float: left;width: 100%;" (click)="depositedetail(dep.id)">
                        <button *ngIf="dep.status=='Received'" ion-button class="noti_btn3">{{dep.status}}</button> 
                        <button *ngIf="dep.status=='Refunded'" ion-button class="noti_btn2">{{dep.status}}</button>
                        <button *ngIf="dep.status=='Pending'" ion-button class="noti_btn1">{{dep.status}}</button>
                    </p>
                </ion-col>
            </ion-row>
        </ion-list>
        <ion-list *ngSwitchCase="'howtodeposits'">
            <div  style="padding-left: 8px;color: black;" [innerHtml]="this.bankinfo"></div>
        </ion-list>
    </div>
    <div *ngIf="noneresult==true">    
        <p style=" width: 100%; text-align: center; display: block; padding-top:10px;"><ion-icon name="md-warning" style="color:#09a546;font-size: 48px;"></ion-icon></p>
        <p style="color: #000000; width: 100%; text-align: center; display: block; padding-top:5px; font-size:16px;font-weight:bold;">You have no deposits</p>
    </div> 
</ion-content>
<ion-footer no-padding style="height: 76px;background:#FFFFFF;">
    <div class="plusicon">
        <ion-icon name="ios-add" (click)="gotoadd_deposit()" style="color: white;font-size: 40px;"></ion-icon>
    </div>
    <div class="fimage">
        <img src="../../assets/imgs/4.png" >
    </div>
    <ion-grid>
        <ion-row>
            <ion-col no-padding style="text-align: center;" (click)="dashboard()">
                &nbsp;<img src="assets/imgs/5.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="epay()">
                &nbsp;<img src="assets/imgs/14.png" style="width: 45%;margin-top: -4px">

            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="services()">
                &nbsp;<img src="assets/imgs/15.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="promo()">
                &nbsp;<img src="assets/imgs/16.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>