page-deposits {
    .slidr{
        width: 100%;
        // height: 25%;
        height: 175px;
        background:url('assets/imgs/2.png');
        // margin-bottom: 10px;
        }
        
        .box{
        background-color:white;
        width: 122px;
        height: 83px;
        margin-left: -5px;
        margin-right: 5px;
        }
        .bx{
        background-color: white;
        margin-right: 5px;
        
        }
        .ox{
        background-color: white;
        margin-right:-5px;
        }
        .rw{
        margin-top: 5px;
        }
        
        .menu{
        height: 55%;
        width: 100%;
        }
        .mytitle{
            text-align: center;
            margin-right: 12%;
         }
        .add-favicon{
            margin-left: 392%;
            margin-top: 576%;
            background-color: #09a546;
        }
        .plusicon {
            position: absolute;
            right: 20px;
            top: -70px;
            width: 50px;
            height: 50px;
            padding: 5px;
            text-align: center;
            display: table-cell;
            background: #09a546;
            vertical-align: middle;
            border-radius: 50px;
        }
        ion-content ion-row{
            background: white;
            margin-bottom: 10px;
        }
        ion-content ion-row ion-col{
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        ion-content ion-row ion-col p.info{
            font-size: 15px;
            font-weight: 700;
            margin: 5px;
            margin-right: 0;
            color: #444;
            width: 68%;
            float: left;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            // word-break: break-all;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        ion-content ion-row ion-col p.info span{
            float: right;
            font-size: 14px;
            color: #09a546;
            font-weight: bolder;
            margin-top: 0px;
        }
        .noti_btn{
            height: auto;
            padding: 10px 15px;
            font-size: 15px !important;
            background: #e74f5b !important;
            margin: 0;
            margin-top: 0;
        }
        .noti_btn1{
            height: auto;
            padding: 10px 15px;
            font-size: 15px !important;
            background: #f53d3d !important;
            margin: 0;
            margin-top: 0;
        }
        .noti_btn2{
            height: auto;
            padding: 10px 15px;
            font-size: 15px !important;
            background: #09a546 !important;
            margin: 0;
            margin-top: 0;
        }
        .noti_btn3{
            height: auto;
            padding: 10px 15px;
            font-size: 15px !important;
            background: #488aff !important;
            margin: 0;
            margin-top: 0;
        }
        .para2{
            margin: 0;
            margin-top: 5px !important;
            margin-bottom:5px;
        }
        .para2 span{
            padding-left: 5px;
            font-size: 14px;
        }
        .noti_icon_btn{
            height: auto;
            width: 15px;
            height: 15px;
            border-radius: 10px; 
            float: right;
            margin: 2px !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            background: #515256;
        }
        .noti_icon_btn span{
            padding: 0;
        }
        .noti_icon_btn span ion-icon{
            font-size: 10px;    
            margin-top: -1px;        
        }
        .segment_tab{
            padding: 0;
            width: 100%;
            height: 50px;
        }
        .segment_tab ion-segment {
            height: 50px;
            background: grey;
            color: black;
        }
        .segment_tab ion-segment .segment-button {
            height: 50px !important;
            color: black !important;
            font-size: 13px !important;
            font-weight: bold;
            padding: 12px;
            border: 0 !important;
            line-height: 27px;
        }
        .segment_tab ion-segment .segment-button.segment-activated {
            background: #09a546 !important;
            color: white !important;
        }
        
        
        
}
.form_item{
    background-color: #c0c0c0;
    padding-right: 20px;
    padding-left: 20px;
}
.form_item ion-label{
    color: #444 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
}
.form_item ion-label ion-input:placeholder{
    color: #444 !important;
}
.form_item .item-inner {
    border-bottom: 1px solid #444444 !important;
}
.form_div{
    padding-top: 20px;
}