<ion-header>
    <ion-navbar color="dark">
        <ion-title color="white" class="mytitle">USEFUL LINKS</ion-title>
    </ion-navbar>
    <div class="segment_tab">
    <ion-segment [(ngModel)]="usefulinfo">
        <ion-segment-button value="contacts">
            Contacts
        </ion-segment-button>
        <ion-segment-button value="documents">
            Documents
        </ion-segment-button>
    </ion-segment>
    </div>
    <div class="slidr" >
        <ion-slides loop="true">
            <ion-slide *ngFor="let item of slideData;" >
                <img src="{{item.image}}"style="width:100%">                
            </ion-slide>
        </ion-slides>
    </div>
  </ion-header>
  <ion-content style="background:#eaeaea;">
    <div [ngSwitch]="usefulinfo">
        <ion-list *ngSwitchCase="'contacts'" >
            <div class="currentout" *ngFor="let cont of contact_list;">
                <div class="topshow" (click)="topclickbtn(cont.id)">
                    <div *ngIf="cont.type=='Emergency'" class="textcircle bigtxt" style="background: red;">
                        {{cont.name_alias}}
                    </div>
                    <div *ngIf="cont.type=='Normal'" class="textcircle bigtxt" style="background: #4a4848;">
                        {{cont.name_alias}}
                    </div>
                    <div class="personname">
                        <p>{{cont.name}}</p>
                    </div>
                </div>
                <div class="bottomtoggle" *ngIf="topclick==cont.id">
                    <ion-col  float-left text-center no-padding class="coladjust"><a href="tel:{{cont.phone}}"><img src="../../assets/icon/call.png" alt=""><p>call</p></a></ion-col>
                    <ion-col  float-left text-center no-padding class="coladjust"><a href="tel:{{cont.mobile}}"><img src="../../assets/icon/msg.png" alt=""><p>mobile</p></a></ion-col>
                    <ion-col float-left text-center no-padding class="coladjust"><a href="mailto:{{cont.email}}"><img src="../../assets/icon/email.png" alt=""><p>email</p></a></ion-col>
                    <ion-col float-left text-center no-padding class="coladjust"><a href="{{cont.location}}"><img src="../../assets/icon/loc.png" alt=""><p>address</p></a></ion-col>
                    <ion-col float-left text-center no-padding class="coladjust"><a href="{{cont.website}}"><img src="../../assets/icon/web.png" alt=""><p>website</p></a></ion-col>
                </div>    
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'documents'">
            <p *ngFor="let doc of document_list;" class="currentout">{{doc.name}} <span float-right><a href="{{doc.image_url}}"><img src="../../assets/imgs/pdfusefullinks.png" alt=""></a></span></p>

        </ion-list>
    </div>
  </ion-content>
<ion-footer no-padding style="height: 76px;background:#FFFFFF;">
    <div class="fimage">
        <img src="../../assets/imgs/4.png" >
    </div>
    <ion-grid>
        <ion-row>
            <ion-col no-padding style="text-align: center;" (click)="dashboard()">
                &nbsp;<img src="assets/imgs/5.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="epay()">
                &nbsp;<img src="assets/imgs/14.png" style="width: 45%;margin-top: -4px">

            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="services()">
                &nbsp;<img src="assets/imgs/15.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
            <ion-col no-padding style="text-align: center;" (click)="promo()">
                &nbsp;<img src="assets/imgs/16.png" style="width: 45%;margin-top: -4px;">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
