<ion-header>
  <ion-navbar color="dark">
      <ion-title color="white" text-center>Community Wall</ion-title>
      
  </ion-navbar>
</ion-header>
<ion-content style="background:#d8d8d8;font-family: 'Montserrat', sans-serif;">
  
  <ion-row style="background: white;padding: 10px 20px;margin-bottom: 10px;"  *ngFor="let post of post_list;">
    <ion-col col-12 class="community_top">
      <img src="{{post.image_url}}" alt="" style="border-radius: 100%;height: 68px;width: 68px;">
      <p class="para1">{{post.posted_by}} <br><span>{{post.post_time}}</span></p>
      <p class="para2">{{post.post_detail}}</p>
    </ion-col>
    <ion-col col-12 >
            
                    <ion-slides style="width:auto">
                        <ion-slide >
                                <img   imageViewer  src="{{pi.post_image}}" style="width: 158px;display:inline-block" *ngFor="let pi of post.post_images_list;">
                        </ion-slide>
                    </ion-slides>
                

    </ion-col>
    
    <div class="para3">
        <p><img src="../../assets/imgs/comment.png" alt=""> <span>10 Comments</span></p>
    </div>
    <div class="notireplyy">
      <div class="sect1">
        <img src="../../assets/imgs/dani.png" alt="">
        <p>Dani Hussain <span>16 hrs ago</span> <br>Yes, I want to join nice sharing</p>
      </div>
      <div class="col_1"><img src="../../assets/imgs/reply1.png" alt=""></div>
      <div class="col_7" >
          <ion-input placeholder="Comment Here......." clearInput></ion-input>
      </div>
      <div class="col_3"><button ion-button><img src="../../assets/imgs/replyblack.png" alt=""></button></div>
    </div>
  </ion-row>
 
</ion-content>
<ion-footer no-padding style="height: 76px;background:#FFFFFF;">
  <div class="penabs" (click)="communitypost();">
      <img src="../../assets/imgs/penimg.png" >    
  </div>
  <div class="fimage">
      <img src="../../assets/imgs/4.png" >
  </div>
  <ion-grid>
      <ion-row>
          <ion-col no-padding style="text-align: center;" >
              &nbsp;<img src="assets/imgs/5.png" style="width: 45%;margin-top: -4px;">
          </ion-col>
          <ion-col no-padding style="text-align: center;">
              &nbsp;<img src="assets/imgs/14.png" style="width: 45%;margin-top: -4px">

          </ion-col>
          <ion-col no-padding style="text-align: center;">
              &nbsp;<img src="assets/imgs/15.png" style="width: 45%;margin-top: -4px;">
          </ion-col>
          <ion-col no-padding style="text-align: center;">
              &nbsp;<img src="assets/imgs/16.png" style="width: 45%;margin-top: -4px;">
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>