page-bookingadd {
    ion-row ion-col p{
        padding: 10px;
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        background: #18a346;
        color: white;
        margin-top: -5px;
        letter-spacing: 1px;
    }
    .mytitle{
        margin-left:18%;
    }
    .scroll-content {
        padding: 10px !important;
    }
}
