page-noticboard {
    .slidr{
        width: 100%;
        height: 32%;
        background:url('assets/imgs/2.png');
    }
    .mytitle{
        margin-left:20%;
    }
    .box{
        background-color:white;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .menu{
        height: 55%;
        width: 100%;
    }
    ion-grid{
        background-color: #eaeaea;
        padding: 0 !important;
        margin-top: 10px;
    }
    .mr5{
        margin-right:5px; 
    }
    .rw{
        margin-bottom: 10px;
    }
    ion-footer ion-grid{
        margin-top: 0px;
        background-color: #fff;
    }
    .menu ion-grid{
        padding: 0 15px !important;
        margin-top: 15px !important;
    }
    .notic_para1{
        float: left;
        font-size: 14px !important;
        font-weight: 700;
        padding-left: 15px;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: left;
    }
    .notic_para2{
        float: left;
        font-size: 12px !important;
        font-weight: 500;
        padding-left: 15px;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: left;

    }
    ion-grid.grid ion-row:nth-child(even) ion-col {
        background: #d6d2d2;
    }
    .calender{
        position: relative
    }
    .calender_para1{
        position: absolute;
        font-size: 15px;
        left: 15px;
        top: -7px;
        color: white;
        font-weight: 500;
    }
    .calender_para2{
        position: absolute;
        left: 30px;
        top: 5px;
        color: #565555;
        font-size: 30px;
        font-weight: 700;
    }
}
