page-promodetail {
    .service_detail_row{
        padding: 10px;
    }
    ion-row.service_detail_row1.row {
        background: white;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    ion-row.service_detail_row2.row {
        padding: 0 10px;
    }
    ion-col.service_detail_col2.col {
        background: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    p.para1 {
        font-size: 17px;
        font-weight: 700;
        margin: 0;
    }
    p.para2 {
        color: darkslategrey;
        font-size: 14px;
        font-weight: 500;
    }
    ion-col.service_detail_col1.col p {
        font-size: 14px;
        font-weight: 700;
        margin: 10px 0;
    }
}
